body {
	background-color: #e7ffe9;
	font-family: sans-serif;
}

h2, h3{
	color: #00a50e;
	text-align: center;
	font-size: 30px;
}
hr {
	box-shadow: 2px 2px 2px 1px rgb(0 165 14 / 34%);
    border-color: #75ff92fc;
}
.moodImg {
  /* Add shadows to create the "card" effect */
  	height: 350px;
  	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #fffadb;
    border-radius: 50px;
}

/* On mouse-over, add a deeper shadow */
.moodImg:hover {
  	box-shadow: 0 5px 5px 0 rgb(255 231 80);
}

.impWord{
	font-weight: bold;
	color: #d1b922;
}

.validatorImage{
	height: 50px;
	border: 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p::first-letter {
	font-size: 1.5em;
}

.movieDetailTitle {
    color: #9c27b0;
    font-weight: bold;
    font-family: monospace;
}

.movieDetailDescription {
    color: #00bcd4;
    margin-left: 40px;
    font-family: monospace;
}

.revList {
    transform: rotate(180deg);
    padding-inline-start: 0px;
    margin-inline-start: 40px;
}
.revList > li {
    transform: rotate(-180deg);
}